<template>
    <div>
        <h1>Punk API</h1>
        <section class="container" v-if="items.length == 0">
            <div class="row">
                <div class="col text-center">
                    <a href="#" class="btn btn-red" @click.prevent="getResults" v-bind:class="{'btn-load': loading}">Load Some Beers!</a>
                </div>
            </div>
        </section>
        <section class="container" v-if="items.length != 0">
            <div class="row">
                <div class="col-2">
                    <label for="sort">Sort:</label> 
                    <select name="sort" id="sort" class="dropdown" @change="sort($event)">
                        <option value="id">ID</option>
                        <option value="first_brewed">First brewed date</option>
                        <option value="abv">ABV</option>
                    </select>
                </div>
                <div class="col-2">
                    <a href="#" class="btn btn-blue btn-toggle" @click.prevent="toggleGrid">Toggle Grid</a>
                </div>
            </div>
        </section>
        <section class="container"  v-if="items.length != 0">
            <div class="row">
                <div class="item" v-bind:class=grid v-for="item in items">
                    <div class="content">
                        <div class="image">
                            <vue-pure-lightbox
                                v-bind:thumbnail="item.image_url"
                                v-bind:images="[
                                  item.image_url
                                ]"
                                v-bind:alternate-text=item.name
                              ></vue-pure-lightbox>
                        </div>
                        <div class="description">
                            <h3 class="title">{{ item.name }}</h3>
                            <span class="alcohol">{{ item.abv }}%</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
</template>

<script>
import axios from 'axios';
import VuePureLightbox from 'vue-pure-lightbox';
import styles from 'vue-pure-lightbox/dist/VuePureLightbox.css';
    
export default{
    components: {
        VuePureLightbox
    },
    data() {
        return {
            items: [],
            grid: "col-4",
            loading: false,
            itemDatesFormatted: false
        };
    },
    methods: {
        getResults() {
            this.loading = true;
            
            axios
                .get('/beers?per_page=75')//Will show 80(80 is max), but we can fix the code for "Load" to be like Load More
                    .then(response => {
                        this.items = response.data;
                        this.loading = false;
                    });
            },
        sort(event) {
            //Date is in some weird format, I must fix that for sorting
            if (event.target.value == "first_brewed" && !this.itemDatesFormatted) {
                this.formatDates();
            }
            
            this.items = this.sortItems(this.items, event.target.value);
        },
        sortItems: function(arr, column) {
            return arr.slice().sort(function(a, b) {
                return a[column] - b[column];
            });
        },
        formatDates() {
            (this.items).forEach(function (item) {
                var dateArr = (item.first_brewed).split("/");
                let date = Date.parse(dateArr[1] + "-" + dateArr[0] + "-01");
                item.first_brewed = date;
            });
            this.itemDatesFormatted = true;
        },
        toggleGrid() {
            if (this.grid == "col-4") {
                this.grid = "col-2";
            } else {
                this.grid = "col-4";
            }
        }
    }
}
</script>