.col-4 {
    width: 100%;
    flex: 0 0 100%;

    @media(min-width: 768px) {
        width: 25%;
        flex: 0 0 25%;
    }
}
.col-2 {
    width: 100%;
    flex: 0 0 100%;

    @media(min-width: 768px) {
        width: 50%;
        max-width: 50%;
        flex: 0 0 50%;
    }
}
.col {
    width: 100%;
    flex: 0 0 100%;
}