.item {
    
    .content {
        margin: 10px;
    }
    
    .image {
        border: 1px solid $black;
        text-align: center;
        
        .lightbox__thumbnail {
            img {
                max-width: 100%;
                max-height: 300px;
                width: auto;
                padding: 10px;
            }
        }
        
        .lightbox__image {
            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                padding: 10px;
            }
        }
    }
    .description {
        position: relative;
        
        .title {
            padding-right: 50px;
        }
        .alcohol {
            font-size: 16px;
            position: absolute;
            font-weight: 700;
            right: 0;
            top: 0;
        }
    }
}